body {
  background: #d5dee8;
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont;
  user-select: none;

  /* background-image: url("../components/wall.png");
  background-repeat: no-repeat;
  background-attachment: fixed; */
}
select {
  width: 200px;
  font-size: 18px;
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont;
  outline: none;
}
