body {
  background-image: url("../components/wall.png");
}
select {
  width: 200px;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  outline: none;
}
/* 
.container {
  text-align: center;
  padding: 15px;
  margin: 10px auto;
}

.csv-input {
  color: white;
  padding: 10px;
  display: block;
  margin: 15px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container p {
  padding-top: 10px;
  color: #666;
} */
